@import '~@fluentui/react/dist/sass/References.scss';

.socialCommitmentCard {
  margin-top: 0;
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center; // Ensures vertical center alignment of content
    justify-content: space-between; // Spreads out items
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


